<?xml version="1.0"?>
<launch>
  <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>

 <!-- localization -->
<!--include file="/home/ali/mybot_ws/src/moor_navigation/launch/Localization/moor_EKF_imu_wheel_vo.launch" /-->
   <!-- moor transformation setup-->
  <!--node pkg="moor_transformation" name="moor_transformation" type="moor_transformation" output="screen"> </node-->

</launch>

